<div class="thanks-body">
	<div class="overlay">
		<div class="thanks-text">
			<h1 class="secondary-header thanks-header">Thank you {{name}}!</h1>
			<p class="secondary-header thanks-caption">Thanks for your contribution to our recipe collection! Your submission for "{{title}}" will be reviewed and you will be notified when it is added. Keep on cooking!</p>
			<button onclick="goBack()" class="btn btn-danger">Submit Another</button>
		</div>
	</div>
</div>